.modal-body .each-comment{
    height: calc(33% - 33px);
    width: calc(100% - 66px);
    border: solid black;
    border-radius: 10px;
    margin-top: 20px;
}
.modal-body .each-comment > .title{
    font-size: 20px;
    height: 30px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(245, 245, 245);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid lightgrey;
}
.modal-body .each-comment > .title > .owner{
    height: 100%;
    width: 40%;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}
.modal-body .each-comment > .title > .rating{
    height: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.modal-body .each-comment > .title > .rating > .starImage{
    display: flex;
    align-items: center;
    float: left;
    height: 80%;
    background-color: transparent;
}
.modal-body .each-comment > .title > .rating > .ratingNum{
    display: flex;
    align-items: center;
    float: left;
    margin-left: 5px;
    padding-top: 2px;
    height: 80%;
}
.modal-body .each-comment > .text{
    padding: 10px;
    font-size: 20px;
    height: 100px;
}
.modal-body .popupForm {
    margin-top: 15px;
    height: calc(100% - 80px);
    width: 100%;
}
.modal-body .popupForm .ratingBox {
    height: 50px;
    margin-left: 20px;
}
.modal-body .popupForm .ratingBox .starImage {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    background-color: transparent;
    float: left;
}
.modal-body .popupForm .ratingBox .starImage:hover {
    cursor: pointer;
}
.modal-body .popupForm .commentBox {
    font-size: 16px;
    padding: 10px;
    height: calc(100% - 50px);
    width: 100%;
    border: solid 2px black;
    border-radius: 5px;
    resize: none;
}
.modal-body .popupForm .buttonDiv{
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.modal-body .popupForm .buttonDiv > button{
    margin-left: 30px;
}
