.contentInfo{
    margin: 0%;
    margin-right: 0%;
}
.contentImage{
    clear: left;
    float: left;
    width: 30%;
    height: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contentImage > img{
    width: 100%;
}
.contentInfo .des{
    float: left;
    width: 70%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.contentInfo .des > h1{
    font-size: larger;
    font-weight: normal;
    text-align: center;
    margin: 0px;
}
.contentInfo .des .link:hover{
    background-color: lightgray;
}