.contentDetail{
    margin: 0%;
    height: 100%;
}
.contentDetail .backButton{
    z-index: 1;
    overflow: auto;
}
.contentDetail > h1{
    margin: 20px;
    text-align: center;
}
.contentDetail > img{
    margin-left: 0%;
    margin-bottom: 0%;
    width: 100%;
}
.contentDetail .link-rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px; 
}
.contentDetail .link-rating .rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    height: 30px;   
}
.contentDetail .link{
    font-size: larger;    
}
.contentDetail .link:hover{
    background-color: rgb(245, 245, 245);
}
.contentDetail .date{
    width: 100%;
    text-align: center;
    margin: 0px;    
}
.contentButtons{
    padding: 5px;
    margin-left: 10px;
    display: inline-flex;
    flex-wrap: wrap;
}
.contentDeleteButton{
    width: 150px;
    margin: 5px;
    margin-right: 25px;
}
.contentDetail .contentDescription{
    padding: 5px;
    padding-bottom: 20px;
}