.contentDetail{
    margin: 0%;
    height: 100%;
}
.contentDetail .backButton{
    z-index: 1;
    overflow: auto;
}
.contentDetail > h1{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.contentDetail > img{
    margin-left: 0%;
    margin-bottom: 0%;
    width: 100%;
}
.contentDetail .link{
    font-size: larger;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.contentDetail .link:hover{
    background-color: lightgray;
}
.contentDetail > .date{
    width: 100%;
    text-align: center;
    margin: 0px;    
}
.contentDetail > .rating{
    width: 100%;
    text-align: center;
    margin: 0px;    
}
.contentDetail .image{
    padding: 5px;
}
.contentDetail .comment{
    padding: 5px;
}