.popup-content {
    height: 80%;
    width: 60%;
}
.slide-container{
    height: 100%;
    width: 100%;
    background-color: black;
}
.each-slide{
    height: 600px;
    width: 800px;
}
.image-container{
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}
.image-name{
    background-color: white;
}
.post-container{
    height: 100%;
    width: 100%;
    background-color: white;
}
.popupSubmitButton {
    position: relative;
    width: 100px;
    margin-top: 15px;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}
.close {  
    cursor: pointer;  
    position: absolute;  
    display: block;  
    padding: 2px 5px;  
    line-height: 20px;  
    right: -10px;  
    top: -10px;  
    font-size: 24px;  
    background: #ffffff;
    border-radius: 18px;  
    border: 1px solid #cfcece;
    z-index: 1;
}
#imageList{
    width: 150px;
    display:inline-block;
}
#imagePost{
    width: 150px;
    display:inline-block;
}