.carousel {
    width:100%;
    height:100%;
}
.carousel-inner{
    width:100%;
    height:100%;
}
.carousel-item{
    width:100%;
    height:100%;
}
.carousel-image-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.uploadImage{
    height: calc(100% - 60px);
    width: 100%;
    font-size: 24px;
}
.uploadImage .inputDiv{
    font-size: 16px;
    height: 30px;
    margin-top: 15px;
}
.uploadImage .imagePreview{
    height: calc(100%);
    width: calc(100%);
    border: dashed 2px grey;
    background-color: rgb(245, 245, 245);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagePreviewBox{
    height: calc(100% - 100px);
    width: 100%;
}