.landmarkInfo {
    margin-left: 0%;
    margin-right: 0%;
}
.landmarkInfo > h1{   
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.landmarkInfo .link{
    font-size: larger;
    text-align: center;
}
.landmarkInfo .link:hover{
    background-color: lightgray;
}
.landmarkInfo > img{
    margin-left: 0%;
    margin-bottom: 0%;
    width: 100%;
}
.contentInfo{
    height: 100px;
}
.contentInfo .des{
    margin: 0px;
    float: left;
    width: 70%;
    height: 100%;
}
.contentInfo .des:hover{
    background-color: lightgray;
    cursor: pointer;
}
.contentInfo .des > h2{   
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.contentInfo .des > p{   
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.contentImage{
    clear: left;
    float: left;
    width: 30%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detailButton{
    margin-top: 5px;
}
.link {
    margin: 5px;
}
.rating{
    height: auto;
    text-align: center;
    margin: 0px;
}
.image{
    margin: 5px;
}
.comment{
    margin: 5px;
}
.addContent{
    margin: 5px;
}