.landmarkInfo {
    margin-left: 0%;
    margin-right: 0%;
}
.landmarkInfo > h1{   
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.landmarkInfo .link{
    font-size: larger;
    text-align: center;
}
.landmarkInfo .link:hover{
    background-color: lightgray;
}
.landmarkInfo > img{
    margin-left: 0%;
    margin-bottom: 0%;
    width: 100%;
}
.contentInfo{
    height: 100px;
}
.detailButton{
    margin-top: 5px;
}
.link {
    margin: 5px;
}
.rating{
    height: auto;
    text-align: center;
    margin: 0px;
}
.image{
    height: 50px;
}
.comment{
    clear: left;
    height: 50px;
}