.overview{
    height: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.overview .contentImage{
    clear: left;
    float: left;
    width: 160px;
    height: 100px;
    margin: 0px;
    margin-left: 15px;    
    background-color: rgb(245, 245, 245); 
    display: flex;
    justify-content: center;
    align-items: center;
}
.overview .contentImage > img{
    max-height: 100%;
    max-width: 100%;    
}
.overview .contentImage:hover{
    cursor: pointer;
}
.overview .des{
    margin: 0px;
    float: left;
    width: calc(100% - 200px);
    margin-left: 20px;
    height: 100%;
}
.overview .des:hover{
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}
.overview .des > h2{   
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 26px;
}
.overview .des > p{   
    margin-top: 5px;
    margin-bottom: 5px;
}
.overview .des .rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;  
}