.admin{
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 20px;
}
.admin .adminBox{
    height: 135px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid black;
}
.admin .adminBox > div{
    overflow: auto;
    padding: 12px;
}
.admin .adminBox > div > *{
    margin: 2px;
}
.admin .adminBox > div > div{
    float: left;
    clear: left;
}
.admin .adminBox > div > input{
    float: left;
}
.admin .adminBox > div > textarea{
    float: left;
    width: calc(100% - 140px);
    height: calc(100% - 10px);
}
.admin .adminBox .imageDiv{
    width: 160px;
    padding: 5px;
    background-color: rgb(245, 245, 245);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.admin .adminBox .imageDiv > img{
    max-height: 100%;
    max-width: 100%;
}
.admin .adminBox .titleDiv{
    width: calc(30% - 60px);
    margin-left: 5px;
    margin-right: 5px;
}
.admin .adminBox .titleDiv > div{
    width: 130px;
}
.admin .adminBox .titleDiv > input{
    width: calc(100% - 140px);
}
.admin .adminBox .titleDiv .landmarkName{
    margin-top: 4px;
    margin-bottom: 4px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.admin .adminBox .infoDiv{
    width: calc(30% - 50px);
}
.admin .adminBox .infoDiv > div{
    width: 100px;
}
.admin .adminBox .infoDiv > input{
    width: calc(100% - 110px);
}
.admin .adminBox .desDiv{
    width: calc(40% - 50px);
}
.admin .adminBox .desDiv > div{
    width:100px;
}
.admin .adminBox .desDiv > input{
    width: calc(100% - 110px);
}
.admin .adminBox .buttonDiv{
    width: 160px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}
.admin .adminBox .buttonDiv .btn{
    width: 80px;
}