*{
    font-family: Sans-serif;
}
#main {
    height: 98vh;
    width: 100vw;
}
#navbar {
    position: absolute;
    right: 0px;
    padding-top: 10px;
    padding-right: 70px;
    z-index: 2;    
    overflow: auto;
}
#searchBar {
    position: absolute;
    left: 15px;
    top: 15px;
    height: 45px;
    width: 30%;
    padding: 10px;
    z-index: 1;
    background-color: lightgrey;
    font-size: larger;
    word-wrap: break-word;
    overflow: auto;
    border-radius: 15px;
}
#infoBlock {
    position: absolute;
    left: 15px;
    top: 85px;
    height: calc(98vh - 110px);
    width: 30%;
    padding: 10px;
    z-index: 1;
    background-color: lightblue;
    font-size: larger;
    word-wrap: break-word;
    overflow: auto;
    border-radius: 15px;
}
#map {
    position: absolute;
    width: 99%;
    z-index: 0;
}
