*{
    font-family: Sans-serif;
}
#main {
    height: 98vh;
    width: 100vw;
}
#navbar {
    position: absolute;
    right: 0px;
    height: 30px;
    margin: 0px;
    margin-right: 70px;
    z-index: 2;    
    overflow: auto;
}
#infoBlock {
    position: absolute;
    left: 15px;
    top: 15px;
    height: calc(98vh - 50px);
    width: 30%;
    padding: 10px;
    z-index: 1;
    background-color: lightblue;
    font-size: larger;
    word-wrap: break-word;
    overflow: auto;
}
#map {
    position: absolute;
    width: 99%;
    z-index: 0;
}
