*{
    font-family: Sans-serif;
}
#infoBlock {    
    position: absolute;
    left: 10px;
    top: 10px;
    height: calc(100% - 20px);
    width: 30%;
    padding: 10px;
    z-index: 1;
    background-color: lightblue;
    font-size: larger;
    word-wrap: break-word;
    overflow: auto;
}
#map {
    height: 100%;
    width: 99%;
    z-index: 0;
}