*{
    font-family: Sans-serif;
}
#register{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    height: 300px;
    width: 400px;
    padding-top: 200px;
}
.inpDiv{
    clear: left;
    height: 30px;
    padding: 5px;
    margin-top:20px;
    display: flex;
    align-items: center;
}
.errDiv{
    color:red;
    height: 30px;
    padding: 5px;
}
.inpBox{
    float: left;
}
span{   
    width: 150px;
}
.submitButton{
    margin-left: 170px;
    margin-top: 10px;
}