.userInfo{
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    padding: 40px;
    border-radius: 30px;
    background-color: rgb(245, 245, 245);
}
.userInfo > div{
    margin: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.userInfo-button{
    width: 160px;
    margin-right: 20px;
}
.userInfo .title{
    width: 180px;
}