.userComment{
    position: absolute;
    top: 10vh;
    left: 10vw;
    right: 10vw;
    padding: 40px;
}
.each-user-comment{
    height: 30vh;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid black;
    border-radius: 10px;
}
.each-user-comment .title{
    font-size: 20px;
    height: 50px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(245, 245, 245);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid lightgrey;
}
.each-user-comment .title .name{
    width: 40%;
    display : inline-block;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
}
.each-user-comment .title .rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    width: 30%;
}
.each-user-comment .title > button{
    position: absolute;
    right: 50px;
}
.each-user-comment .text{
    height: calc(100% - 65px);
    width: calc(100% - 30px);
    font-size: 20px;
    margin: 15px;
    display : inline-block;
    overflow: auto;
}