*{
    font-family: Sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
    width: 99%;
    z-index: 0;
}
#infoBlock {    
    position: absolute;
    left: 10px;
    top: 10px;
    height: calc(100% - 20px);
    width: 30%;
    z-index: 1;
    background-color: lightblue;
    font-size: larger;
    word-wrap: break-word;
    overflow: auto;
}
.landmarkInfo {
    margin-left: 0%;
    margin-right: 0%;
}
.landmarkInfo > h1{   
    text-align: center;
}
.landmarkLink{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.landmarkLink:hover{
    background-color: lightgray;
}
.landmarkCoverImage{
    margin-left: 0%;
    width: 100%;
}
.contentInfo{
    margin: 0%;
    margin-right: 0%;
}
.contentCoverImage{
    clear: left;
    float: left;
    width: 30%;
    margin-top: 20px;
}
.contentDes{
    float: left;
    width: 70%;
    margin-top: 20px;
}
.contentDes > h2{
    font-size: larger;
    font-weight: normal;
    text-align: center;
    margin: 0px;
}
.contentDes > p{
    text-align: center;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.contentLink{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px; 
}
.contentLink:hover{
    background-color: lightgray;
}